<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.dao.ReplyDao">
	<resultMap type="reply" id="replyMap">
	<!-- type 
	 스프링 설정 에서 typeAliasesPackage 에 지정함 별명을 앞에 example.vo 으로 
	 자동으로 만들어 주게 설정했다. 
	 그래서 앞에 example.vo 를 빼도 된다.
	 -->
		<id column="GRNO" property="no" /> <!--PK 는 ID 나머지는 result -->
    <result column="gno" property="groupNo" />
    <result column="mno" property="memberNo" />
    <result column="name" property="name" />      
	</resultMap>

	<select id="selectList" resultMap="replyMap" parameterType="map">
    select grno, mno, gno
    from hiba_g_reply
  </select>
   
  <insert id="insert" parameterType="reply" useGeneratedKeys="true" keyColumn="grno" keyProperty="no">    
    <!--  insert into hiba_g_reply(mno, conts, nicknm, cre_dt)
    values (#{contents}, #{nicknm}, now())
    select mno from 'hiba_membs' where nicknm=#{nicknm} 
     insert into hiba_g_reply(mno, conts, nicknm, pwd, cre_dt)
    select mno, 
          #{contents}, 
          #{nicknm}, 
          password(#{password}),
          now()      
    from hiba_membs
    where nicknm=#{nicknm}
    
    insert into hiba_g_reply(mno, gsno, name)
    values (#{memberNo}, #{groupNo}, #{name})  
    -->
    
   insert into hiba_g_reply(mno, gno, name)
    select mno, 
          #{groupNo}, 
          #{name}   
    from hiba_membs
    where mno=#{memberNo}
    
  
  </insert>



</mapper>