@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-family: "Nanum Gothic", sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
input,textarea,select,button,table{font-size:inherit;font-family:inherit; font-size: 100%; -webkit-text-size-adjust:none;}
ul,ol,li{list-style:none;}
a{text-decoration:none; color:inherit;}
a:hover, a:focus{text-decoration:underline;}
fieldset{margin:0; padding:0; border:none;} 
caption,legend{position:absolute;top:-5000px;text-indent:-5000px;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
img{vertical-align:middle;}
table{display: table;}
caption{display: table-caption;}
colgroup{display: table-column-group;}
col{display: table-column;}
thead{display: table-header-group;}
tbody{display: table-row-group;}
tfoot{display: table-footer-group;}
tr{display: table-row;}
td, th{display: table-cell;}
ul:after{content:" ";display:block;clear:both;}
body{ font-family:"arial", sans-serif; font-size:12px;}

/*header*/
/* header {background: #0063A6; color:#fff; height: 45px;} */
/* nav{ background: #111; width: 100%; } */
/* header { border-top:5px solid #9dc92a; background:#f2f2f2; color:#fff; height: 50px;}
 */
.nav{position:absolute; right: 0px; top:0px; z-index: 1;}
.nav-warp { margin: 0 auto;  width: 1080px; margin-right: 100px;}
.nav-warp h1{ float: left; margin-right: 5px; font-size: 20px; padding:10px; }
.nav-warp .nav{ padding-top:12px; }
.nav-warp .nav li{ float: right; margin-right: 10px; font-size:14px;}
.navbar { display: none; position: fixed; right:20px; top:10px; cursor: pointer; }
.navbar i { display: block; width: 20px; height: 3px; background: #fff; margin:4px 0; }

.nav-warp .nav li.logout { float: right;}

/* .carousel-caption ul li { text-align: left; } */
section {min-height:700px;}
.section-wrap { width: 1080px; margin: 0 auto; padding-top: 30px;}
.section-wrap h2 { font-size: 25px; }

footer { background: #404040; color: #c0c0c0; padding: 10px 0; /* clear: both; */}
.footer-warp {/* margin: 0 auto; */ width: 1024px;}
.footer-warp p {float: right;}
.footer-warp li {display:inline; float:left; margin-right: 130px; font-size:20px; }
.footer-warp li img {display:inline; margin-left: 50px;}
@media (min-width: 1080px) {
  .nav-warp li{ float: left; margin-right: 10px; font-size:14px;}
  .nav-warp .nav { display:block !important; }
  .nav-warp .nav li.logout { float: right; }
}

@media (min-width: 980px) and (max-width: 1080px) {
  .header-warp, .nav-warp, .section-wrap { width: auto; }
  .nav-warp .nav { display:block !important; }
  .title-menu{ float: none; }
  .member-join { float: none; }
  .nav-warp .nav li.logout { float: right; }
}

@media (min-width: 768px) and (max-width: 979px) {
  .header-warp, .nav-warp, .section-wrap { width: auto; }
  .nav-warp h1 { float: none;}
  .nav-warp .nav { display: none; position: absolute; width:100%; background: #111; }
  .nav-warp .nav li{ float: none; padding:14px; }
  .navbar { display: block; }
  .title-menu { float: none; }
  .member-join { float: none; }
  .nav-warp .nav li.logout { float: none; }
}

@media (max-width: 767px) {
 .header-warp, .nav-warp, .section-wrap { width: auto; }
 .nav-warp h1 { float: none; } 
 .nav-warp .nav { display: none; position: absolute; width:100%; background: #111;}
 .nav-warp .nav { display: none; }
 .nav-warp .nav li{ float: none; padding:14px;}
 .member-join { float: none; }
 .navbar { display: block; }
 .nav-warp .nav li.logout { float: none; }
}
