


article { width: 1080px; margin: 0 auto;}
.inviteMember {
	width: 465px; height: 385px;
	margin: 100px auto 50px auto;
	background-color: #DCDCDC;
}
.inviteMember h2 { font-size: 30px; padding:10px;} 
.button .sendEmail { width: 220px; }
.button .sendLink { width: 220px; }
.inviteMember input { width: 415px; height: 200px; margin: 20px; }
.button2 { text-align: right; margin: 20px; }
.button3 { text-align: center; }